*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: */
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #080808;
    color: #fff;
    /* ff8976 color */
}
/* header section--------------------------- */
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/otherbackg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 45px;
    text-decoration: none;
    color: #f8ad9d;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul li{
    display: inline-block;
    margin: 10px;
    list-style: none;
}

.nav-items{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.nav-items::after{
    content: '';
    width: 0;
    height: 2.5px;
    background: #f8ad9d;
    position: absolute;
    left: 0;
    bottom: -6px; 
    transition: 0.5s;
}
 .nav-items:hover::after{
    width: 100%;
 }

 .header-text{
    margin-top: 17%;
    font-size: 30px;
 }
 .h1-header{
    margin-top: 20px;
    font-size: 60px;
 }
 .h1-header span{
    color: #f8ad9d;
 }

 /* about section--------------------------- */
#about{
    margin: 80px 0;
    color: beige;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-col-1{
    flex-basis: 35%;
}

.about-img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 55%;
}
.title-about{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
}
.tab-about{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px ;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 2.5px;
    position: absolute;
    background-color: #f8ad9d;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 70%;
}

.about-content ul li{
    margin-bottom: 5px;
    font-size: 16px;
    list-style: circle;
}
.about-content ul li span{
    color: #f8ad9d;
}
.about-content{
    display: none;
}
.about-content.active-content{
    display: block;
}

/* Services section-----------------------> */

#services{
    padding: 30px 0;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 40px;
    margin-top: 50px;
}
.service-list div{
    border-radius: 10px;
    font-size: 14px;
    font-weight: 300;
    background: #262626;
    padding: 40px;
    transition: background 0.5s, transform 0.5s;
}
.icons{
    margin-bottom: 25px;
}

.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-list div a{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-top: 20px;
}
.service-list div:hover{
    background-color: #f8ad9d;
    transform: translateY(-10px);
}
/* PORTFOLIO========================> */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.work:hover img{
    transform: scale(1.1);
}

.layer{
    width: 100%;
    height: 0%;
    border-radius: 10px;
    background: linear-gradient(rgba(0,0,0,0.6), #f8ad9d);
    position: absolute;
    left: 0; bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
 .layer a{
    margin-top: 18px;
    color: #f8ad9d;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
 }
 .work:hover .layer{
    height: 100%;
 }
 .btn{
    padding: 14px 50px;
    display: block;
    width: fit-content;
    border: 1px solid #f8ad9d;
    border-radius: 6px;
    margin: 50px auto;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: background 0.5s, transform 0.5s;
 }
 .btn:hover{
    background: #f8ad9d;
    transform: scale(1.1);
 }

 /* contact */

 .contact-left{
    flex-basis: 35%;
    margin-top: 4px;
 }

 .contact-left p{
    margin: 30px;
 }

 .contact-left p i{
    margin-right: 15px;
    color: #f8ad9d;
    font-size: 25px;
 }

 .social-icons{
    margin: 30px;
 }
 .social-icons a{
    color: #ababab;
    text-decoration: none;
    margin-right: 30px;
    font-size: 25px;
    display: inline-block;
    transition: transform 0.5s;
 }
 .social-icons a:hover{
    color: #f8ad9d;
    transform: translateY(-5px);
 }
 .btn2{
    display: inline-block;
    background: #f8ad9d;
    
 }
 .contact-right{
    flex-basis: 50%;
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    background: #262626;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    color: #f8ad9d;
    border-radius: 6px;
}
form btn2{
    padding: 14px 60px;
    margin-top: 15px;
    font-size: 18px;
    cursor: pointer;
}

.copyright{
    text-align: center;
    background: #262626;
    padding: 25px 0;
    font-size: 16px;
    font-weight: 300;
}

#msg{
    color: #f8ad9d;
    margin-top: -40px;
    display: block;
}

/* for small screen */
nav .fa-solid{
    display: none;
}
@media screen and (max-width: 600px) {
    #header{
        background-image: url(images/frphn2.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .h1-header{
        font-size: 30px;
        /* text-align: center; */
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #f8ad9d;
        position: fixed;
        width: 150px;
        height: 100vh;
        top: 0;
        right: -150px;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        cursor: pointer;
        left: 25px;
    }
    .title-about{
        font-size: 40px;
    }
    .about-col-1 , .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .contact-left , .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 12px;
        font-family: 'Courier New', Courier, monospace;
    }
}